.box {
  position: relative;
  width: 1440px;
  height: 750px;
}

.box .header-hero-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 1442px;
  height: 750px;
}

.box .mask-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 750px;
}

.box .rectangle {
  height: 750px;
  background-color: #03214c;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}

.box .div {
  height: 434px;
  background: linear-gradient(
    180deg,
    rgba(3, 33, 76, 1) 0%,
    rgba(3, 33, 76, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}

.box .header {
  display: flex;
  width: 1170px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  left: 135px;
  background-color: transparent;
}

.box .logo {
  position: relative;
  width: 296px;
  height: 36px;
}

.box .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.box .btn {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #00cde5;
}

.box .ph-arrow-up-left {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.box .vector {
  position: absolute;
  width: 54.69%;
  height: 54.69%;
  top: 22.66%;
  left: 22.66%;
  transform: rotate(-180deg);
}

.box .image-copy {
  position: absolute;
  top: 96px;
  left: 770px;
  width: 519px;
  height: 654px;
  object-fit: cover;
}

.box .content {
  display: flex;
  flex-direction: column;
  width: 670px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 217px;
  left: 135px;
}

.box .label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff1a;
  border-radius: 100px;
  border: 0.92px solid;
  border-color: #9393934c;
  backdrop-filter: blur(22.93px) brightness(100%);
  -webkit-backdrop-filter: blur(22.93px) brightness(100%);
}

.box .expert-in-ophthalmic {
  position: relative;
  width: fit-content;
  margin-top: -0.92px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.box .p {
  position: relative;
  align-self: stretch;
  height: 117px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 46px;
  letter-spacing: 0;
  line-height: 58px;
}

.box .para {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .text-wrapper-3 {
  position: relative;
  flex: 1;
  height: 131px;
  margin-top: -1.00px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-4 {
  position: absolute;
  top: 655px;
  left: 766px;
  width: 519px;
  text-shadow: 2px 2px 1px #000000cc;
  font-family: "Allura-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
